#video {
    width: 100%;
  }

#genvideo {
  width: 100%;
}

#record {
  width: 100%;
}

#record:active {
  background-color: red;
}

#canvas {
  display: none;
}

.camera {
  width: 100%;
}

.output {
  vertical-align: top;
}

.logo {
  color: #eee
}
.footerlink {
  padding-left: 10px;
}
